@media(max-width:991px){

.service-card{

margin-bottom:30px;

}

.section-title h2{

font-size:42px;

}

.card-image{

height:220px;

}

}

@media(max-width:768px){

.section-title h2{

font-size:34px;

}

.card-content{

padding:25px;

}

.card-content h3{

font-size:28px;

}

.card-image{

height:200px;

}

}



/*==========================
     RESPONSIVE
==========================*/

@media(max-width:1200px){

.journey-wrapper{

grid-template-columns:repeat(2,1fr);

}

.journey-line{

display:none;

}

.step2,
.step4,
.step6,
.step8{

margin-top:70px;

}

}

@media(max-width:768px){

.section-title h2{

font-size:38px;

}

.section-title p{

font-size:16px;

}

.journey-wrapper{

grid-template-columns:1fr;

gap:30px;

}

.journey-card{

margin-top:50px !important;

}

.card-body{

padding:30px;

}

.step-circle{

left:30px;

}

}

@media(max-width:992px){

.contact-wrapper{

padding:40px;

}

.contact-stats{

grid-template-columns:repeat(2,1fr);

}

.contact-form-card{

margin-top:40px;

}

}

@media(max-width:768px){

.contact-wrapper{

padding:25px;

}

.contact-stats{

grid-template-columns:1fr;

}

.contact-form-card{

padding:25px;

}

.contact-image{

margin-bottom:20px;

}

.contact-wrapper h2{

font-size:36px;

}

}

@media(max-width:991px){

.footer-trust{

grid-template-columns:1fr;

}

.footer-bottom{

flex-direction:column;

text-align:center;

}

.newsletter{

flex-direction:column;

gap:12px;

}

.newsletter input,
.newsletter button{

width:100%;

border-radius:12px;

}

}